{% extends "staffpanel/base.html" %}
{% block title %}Chapters
{% endblock title %}
{% block active2 %}
active
{% endblock active2 %}
{% block body %}
<div class="container">
    <h2 class="text-danger">Group: <span id="group" class="text-success">{{group}}</span> Subject: <span id="subject"
            class="text-success">{{subject}}</span></h2>
    <div class="row mt-2">
        <div class="col-md-12">
            <form action="#" id="chapteradder" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="newchapter">New Chapter</label>
                    <input type="text" class="form-control" id="newchapter" name="newchapter">
                </div>
                <div id="addchapter" class="mt-1">
                    <button type="submit" class="btn btn-primary">Add chapter</button>
                </div>
                <div id="insertmessage">

                </div>
            </form>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row mt-2">
        <div class="col-md-2">
            <form action="#" id="trackerForm" method="POST">
                {% csrf_token %}
                <div id="btndes">
                    <button type="submit" id='autochapterget' class="btn btn-primary">Fetch chapters</button>
                </div>
            </form>
        </div>
        <div class="col-md-8" style="padding-top: 8px;">
            <strong>Note: </strong><span>Please click button to fetch Chapters</span>
        </div>
    </div>
    <hr>
    <div class="row m-2" id="items">
    </div>
</div>
{% endblock body %}
{% block jss %}
<script>
    $(document).ready(function () {
        $('#autochapterget').click()
    });
    $('#items').empty()
    $('#trackerForm').submit(function (event) {
        $('#items').empty()
        $('#btndes').empty()
        $('#btndes').append(`<button class="btn btn-primary">
                <i class="fa fa-spinner fa-spin"></i>Loading
            </button>`)
        var formdata = {
            'group': $('#group').text(),
            'subject': $('#subject').text(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: "POST",
            url: '/staffpanel/chapterfetcher',
            data: formdata,
            encode: true
        })
            .done(function (data) {
                data = JSON.parse(data)
                console.log(data)
                updates = data[0]
                for (i = 0; i < updates.length; i++) {
                    let chapter = updates[i]['chapter']
                    mystr = `    <div class="col-md-12">
      <div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-md-7 p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Group: ${$('#group').text()}</strong>
          <h3 class="mb-0">Chapter: ${chapter}</h3>
          <div class="mb-1 text-muted">Subject: ${$('#subject').text()}</div>
        </div>
        <div class="col-md-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Action
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/staffpanel/topics/${$('#group').text()}-${$('#subject').text()}-${chapter}">Topics</a>
                <a class="dropdown-item" href="/staffpanel/quizz/${$('#group').text()}-${$('#subject').text()}-${chapter}">Quizz</a>
            </div>
            </div>
            </div>
             </div>`
                    $('#items').append(mystr);
                }
                $('#btndes').empty()
                $('#btndes').append(`<button type="submit" class="btn btn-primary">Fetch Chapters</button>`)
            });
        event.preventDefault();
    });

    $('#chapteradder').submit(function (event) {
        $('#addchapter').empty()
        $('#insertmessage').empty()
        $('#addchapter').append(`<button class="btn btn-primary">
                <i class="fa fa-spinner fa-spin"></i>Adding
            </button>`)
        var formdata = {
            'group': $('#group').text(),
            'subject': $('#subject').text(),
            'chapter': $('input[name=newchapter]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: "POST",
            url: '/staffpanel/addchapter',
            data: formdata,
            encode: true
        })
            .done(function (data) {
                if (data == 'Success') {
                    $('#insertmessage').append(`<strong>Note: </strong><span class="text-success">Added successfully click on fetch button</span>`)
                }
                else {
                    $('#insertmessage').append(`<strong>Note: </strong><span class="text-danger">Faild to Add please try again</span>`)
                }
                $('#addchapter').empty()
                $('#addchapter').append(`<button type="submit" class="btn btn-primary">Add chapter</button>`)
            });
        event.preventDefault();
    });
</script>
{% endblock jss %}