{% extends "staffpanel/base.html" %}
{% block title %}Add topic
{% endblock title %}
{% block body %}
<script src="https://cdn.tiny.cloud/1/ghyjd4b4xkl6bf5u03b65lxovrg2tnrpy4h1ins85okg0w35/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<div class="container">
    <div class="row mt-1">
        <div class="col-md-3">
            <h2 class="text-dark">Group: <span class="text-info" id="progroup">{{group}}</span></h2>
        </div>
        <div class="col-md-5">
            <h2 class="text-dark">Subject: <span class="text-info" id="prosubject">{{subject}}</span></h2>
        </div>
        <div class="col-md-4">
            <h2 class="text-dark">Chapter: <span class="text-info" id="prochapter">{{chapter}}</span></h2>
        </div>
    </div>
    <div class="other bg-light mt-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                    aria-controls="overview" aria-selected="true">Topics</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="qna-tab" data-toggle="tab" href="#topicadder" role="tab" aria-controls="qna"
                    aria-selected="false">Add Topics</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show mx-4 mt-3 active" id="overview" role="tabpanel"
                aria-labelledby="overview-tab">
                <div class="container clearfix py-2 px-0">
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <form action="#" id="trackerForm" method="POST">
                                {% csrf_token %}
                                <div id="btndes">
                                    <button type="submit" id="autotopicget" class="btn btn-primary">Fetch Topics</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8" style="padding-top: 8px;">
                            <strong>Note: </strong><span>Please click button to fetch Topics</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-2" id="items">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mx-4 mt-3" id="topicadder" role="tabpanel" aria-labelledby="qna-tab">
                <form method="POST" action="#" id="addtopicform">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="topicname">Topic Name</label>
                        <input type="text" class="form-control" id="topicname" name="topicname">
                    </div>
                    <div class="form-group">
                        <label for="videosource">Video Source</label>
                        <select class="form-control" id="videosource" name="videosource">
                            <option>Youtube</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="videolink">Video Link</label>
                        <input type="text" class="form-control" id="videolink" name="videolink">
                    </div>
                    <div class="form-group">
                        <label for="topiccontent">Topic Content</label>
                        <textarea class="form-control" id="topiccontent" name="topiccontent"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prismdisplasy">Prism Display</label>
                        <textarea class="form-control" id="prismdisplasy" rows="3" name="prismdisplay"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="announcements">Announcement</label>
                        <textarea class="form-control" id="announcements" rows="3" name="announcement"></textarea>
                    </div>
                    <div class="form-group mt-1" id="topicadderbtn">
                        <button class="btn btn-primary">Add Topic</button>
                    </div>
                    <p id="addermessage"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block jss %}
<script>
    $(document).ready(function () {
        $('#autotopicget').click()
    });
    $('#trackerForm').submit(function (event) {
        $('#items').empty()
        $('#btndes').empty()
        $('#btndes').append(`<button class="btn btn-primary">
                <i class="fa fa-spinner fa-spin"></i>Loading
            </button>`)
        var formdata = {
            'group': $('#progroup').text(),
            'subject': $('#prosubject').text(),
            'chapter': $('#prochapter').text(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: "POST",
            url: '/staffpanel/topicfetcherdb',
            data: formdata,
            encode: true
        })
            .done(function (data) {
                data = JSON.parse(data)
                console.log(data)
                updates = data[0]
                for (i = 0; i < updates.length; i++) {
                    let topic = updates[i]['topic']
                    let source = updates[i]['source']
                    let time = updates[i]['time']
                    mystr = `<div class="col-md-12">
      <div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-md-7 p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Time:${time}</strong>
          <h3 class="mb-0">Topic:${topic}</h3>
          <div class="mb-1 text-muted">Video: ${source}</div>
          <p class="card-text mb-auto">Total students: </p>
        </div>
        <div class="col-md-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Action
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/staffpanel/topicupdater/${topic}-${time}">Edit Topic</a>
                <a class="dropdown-item" href="#">Quizz</a>
            </div>
            </div>
            </div>
             </div>`
                    $('#items').append(mystr);
                }
                $('#btndes').empty()
                $('#btndes').append(`<button type="submit" class="btn btn-primary">Fetch Topics</button>`)
            });
        event.preventDefault();
    });
</script>
<script>
    $('#addermessage').empty()
    $('#addtopicform').submit(function (event) {
        $('#addermessage').empty()
        $('#topicadderbtn').empty()
        $('#topicadderbtn').append(`<button class="btn btn-primary">
                <i class="fa fa-spinner fa-spin"></i>Loading
            </button>`)
        contentstr = tinymce.get('topiccontent').getContent();
        console.log($('#prochapter').text())
        var formdata = {
            'group': $('#progroup').text(),
            'subject': $('#prosubject').text(),
            'chapter': $('#prochapter').text(),
            'topicname': $('input[name=topicname]').val(),
            'videosource': $('select[name=videosource]').val(),
            'videolink': $('input[name=videolink]').val(),
            'topiccontent': contentstr,
            'prismdisplay': $('textarea[name=prismdisplay]').val(),
            'announcement': $('textarea[name=announcement]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: "POST",
            url: '/staffpanel/topicadderdb',
            data: formdata,
            encode: true
        })
            .done(function (data) {
                if (data == 's') {
                    mystr = `<span class="text-success">Topic added successfully</span>`
                    $('#addermessage').append(mystr);
                }
                else {
                    mystr = `<span class="text-danger">Topic add Failed</span>`
                    $('#addermessage').append(mystr);
                }
                $('#topicadderbtn').empty()
                $('#topicadderbtn').append(`<button class="btn btn-primary">Add Topic</button>`)
                $('input[name=topicname]').val('')
                $('select[name=videosource]').val('')
                $('input[name=videolink]').val('')
                $('textarea[name=prismdisplay]').val('')
            });
        event.preventDefault();
    });
</script>
<script>
    tinymce.init({
        selector: '#topiccontent',
        name: "topiccontent",
        height: 500,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullpage | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons' }
        },
        menubar: 'favs file edit view insert format tools table help',
    });
</script>
{% endblock jss %}